@import "./constants.scss";

.header {
  background-color: $MENU_BACKGROUND;
  color: white;
  height: 40px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  button {
    svg {
      margin-right: 4px;
    }
  }

  .operationButtons {
    position: absolute;
    top: 4px;
    left: 48px;

    button {
      background-color: transparent;
      color: white;
    }
  }

  .github {
    color: white;
    font-size: 24px;
    position: absolute;
    padding: 8px;
    right: 8px;
    top: 0;

    &:hover {
      opacity: .8;
    }
  }
}

.body {
  background-color: $BLACK;
  height: calc(100% - 40px);
  left: 0;
  position: absolute;
  top: 40px;
  width: 100vw;
}

.sidebar {
  background-color: $MENU_BACKGROUND;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 48px;
}

.leftPanel {
  height: 100%;
  left: 48px;
  position: absolute;
  top: 0;

  .separator {
    background-color: $MENU_BACKGROUND;
    cursor: col-resize;
    height: 100%;
    position: absolute;
    top: 0;
    right: -2px;
    width: 4px;
    z-index: 1000;

    &:hover {
      background-color: #1d81d0;
    }
  }

  .separatorHorizontal {
    background-color: $MENU_BACKGROUND;
    cursor: row-resize;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    &:hover {
      background-color: #1d81d0;
    }
  }

  .leftBottomSection {
    background-color: #131a23;
    position: relative;
    .tabs {
      padding-left: 12px;
      padding-top: 8px;
      padding-bottom: 8px;

      .tab {
        border-bottom: 1px solid transparent;
        color: rgba(255, 255, 255, .4);
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        line-height: 1em;
        padding: 8px;
        transition: .4s;

        &:hover {
          color: white;
        }

        &.selected {
          border-bottom-color: #ffe000;
          color: white;
        }
      }
    }
    .panel {
      height: calc(100% - 45px);
    }
  }
}

.rightPanel {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  iframe {
    height: 100%;
    user-select: none;
    width: 100%;
  }

  .playerCover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.editorSection {
  position: relative;
}

.editorContainer {
  height: 100%;
  width: 100%;
}

.playerSelector {
  color: white;
  position: absolute;
  right: 12px;
  top: 12px;

  .option {
    border: 1px solid white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1em;
    padding: 6px 8px;

    &:hover {
      background-color: white;
      color: black;
    }

    &.selected {
      background-color: white;
      color: black;
    }

    &:first-child {
      border-right-width: 0;
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}